<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Remote Job Opportunities{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/job_post.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/job_listing.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('jobs_bp.get_jobs') }}">Home</a>
            <a href="{{ url_for('user_bp.company_dashboard') }}">Dashboard</a>
            <a href="{{ url_for('jobs_bp.post_jobs') }}">Post a Job</a>
            {% if 'company_id' in session%}
                <a href="{{ url_for('user_bp.logout') }}">Sign-Out</a>
            {% else %}
                <a href="{{ url_for('user_bp.company_login') }}">Sign-In</a>
                <a href="{{ url_for('user_bp.company_register') }}">Register</a>
            {% endif %}
        </nav>
    </header>

     <!-- Display flashed messages -->
     <div class="flashes">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div>
            {% for category, message in messages %}
                <div class="alert {{ category }}">{{ message }}</div>
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        {% block content %}
        <!-- Page-specific content will go here -->
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Remote Job Opportunities</p>
    </footer>
</body>
</html>
