{% extends 'base.html' %}

{% block title %} Job Posting {% endblock %}
{% block content %}
    <div class="job-posting-form">
        <h1>Post a Job Listing</h1>

        <!-- Ensure the action URL matches the Flask route -->
        <form action="{{ url_for('jobs_bp.post_jobs') }}" method="POST">
            <div class="form-group">
                <label for="job_title">Job Title:</label>
                <input type="text" id="job_title" name="job_title" placeholder="e.g content writer" required>
            </div>

            <div class="form-group">
                <label for="company_name">Company Name:</label>
                <input type="text" id="company_name" name="company_name" placeholder="google">
            </div>

            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" id="location" name="location" placeholder="remote" required>
            </div>

            <div class="form-group">
                <label for="job_type">Job Type:</label>
                <input type="text" id="job_type" name="job_type" placeholder="part time" required>
            </div>

            <div class="form-group">
                <label for="category">Category:</label>
                <input type="text" id="category" name="category" placeholder="software developer" required>
            </div>

            <div class="form-group">
                <label for="description">Description:</label>
                <textarea id="description" name="description" required></textarea>
            </div>

            <div class="form-group">
                <label for="requirements">Requirements:</label>
                <textarea id="requirements" name="requirements" required></textarea>
            </div>

            <div class="form-group">
                <label for="expiry_date">Expiry Date:</label>
                <input type="date" id="expire_date" name="expire_date" required>
            </div>

            <div class="form-group">
                <label for="application_link">Application Link:</label>
                <input type="url" id="application_link" name="application_link" placeholder="e.g google.com">
            </div>

            <button type="submit" class="btn">Post Job</button>
        </form>
    </div>
{% endblock %}